@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet');
html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #000000;
  background-color: #FF6748; }
  @media screen and (max-width: 1200px) {
    body {
      background-color: #ffffff; } }

h1 {
  font-size: 2.4rem; }

h2 {
  font-size: 1.8rem; }

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    text-decoration: underline; }
  @media screen and (max-width: 900px) {
    a {
      font-size: 1.4rem; } }
  @media screen and (max-width: 630px) {
    a {
      font-size: 1rem; } }

select {
  display: block;
  font-size: 1.2rem;
  font-family: inherit;
  color: #000000;
  min-width: 10rem;
  border: 1px solid #FF6748;
  border-radius: 2rem;
  background-color: #ffffff;
  padding: 1rem 2rem;
  margin: 0 1rem;
  text-align-last: center;
  outline: none; }
  @media screen and (max-width: 900px) {
    select {
      font-size: 1rem;
      padding: .5rem 1rem;
      margin: 0 .5rem; } }
  @media screen and (max-width: 630px) {
    select {
      display: none; } }

.center {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 2rem; }
  @media screen and (max-width: 630px) {
    .center {
      padding: 0; } }

.container {
  width: 110rem;
  background-color: #ffffff;
  border-radius: 3rem; }
  @media screen and (max-width: 1200px) {
    .container {
      width: 100%; } }

.content-frame {
  display: flex;
  justify-content: center; }

.content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem; }

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 3rem 3rem 0 0;
  padding: 3rem;
  z-index: 10; }
  @media screen and (max-width: 900px) {
    .header {
      flex-direction: column;
      border-radius: 0; } }

.nav {
  margin-left: 3rem; }
  @media screen and (max-width: 900px) {
    .nav {
      margin-left: 0;
      margin-top: 2rem; } }

.nav__list {
  display: inline;
  list-style: none; }

.nav__item {
  margin-left: 2rem;
  display: inline; }
  @media screen and (max-width: 900px) {
    .nav__item {
      margin-left: 1rem; } }

.login {
  margin-left: auto; }
  @media screen and (max-width: 900px) {
    .login {
      position: absolute;
      top: .5rem;
      right: .5rem; } }

.login__register {
  margin: 0 2rem; }
  @media screen and (max-width: 630px) {
    .login__register {
      margin: 0 1rem; } }

.button {
  border: 0;
  border-radius: 3rem;
  padding: 1rem 2rem;
  transition: all .3s; }
  .button:hover {
    transform: translateY(0.2rem); }
  @media screen and (max-width: 630px) {
    .button {
      padding: .5rem 1rem;
      font-size: 1.2rem; } }

.button--large {
  color: #ffffff;
  background-color: #FF6748; }

.icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: .2rem;
  fill: #FF6748;
  transform: translateY(0.2rem); }

.icon--select {
  transform: translateX(3.3rem) translateY(-0.1rem); }
  @media screen and (max-width: 900px) {
    .icon--select {
      display: none; } }

.icon--rating {
  fill: #EC4251;
  height: 1.2rem;
  width: 1.2rem;
  transform: translateY(0.1rem); }

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem; }
  @media screen and (max-width: 630px) {
    .search-bar {
      padding: 2rem; } }
  @media screen and (max-width: 465px) {
    .search-bar {
      padding: 1rem; } }

.search-bar__icon-frame {
  padding: .7rem;
  border: 2px solid #FF6748;
  border-radius: 50%;
  margin-right: .5rem; }

.search-bar__place {
  font-size: 3rem;
  font-weight: bold;
  margin-left: 1rem; }
  @media screen and (max-width: 900px) {
    .search-bar__place {
      font-size: 2.4rem; } }
  @media screen and (max-width: 630px) {
    .search-bar__place {
      font-size: 1.6rem; } }

.search-bar__place--area {
  color: #C9CDD0; }

.content {
  display: flex;
  width: 90%;
  background-color: #F7F7FB;
  border-radius: 3rem 3rem 0 0;
  margin-top: 3rem;
  padding: 3rem; }
  @media screen and (max-width: 1200px) {
    .content {
      border-radius: 3rem;
      padding: 1.5rem; } }
  @media screen and (max-width: 900px) {
    .content {
      flex-direction: column;
      padding: .5rem;
      margin-top: 2rem; } }
  @media screen and (max-width: 630px) {
    .content {
      width: 100%;
      border-radius: 0;
      margin-top: 1rem; } }

.content__left {
  width: 30rem;
  margin-right: 3rem; }
  @media screen and (max-width: 900px) {
    .content__left {
      width: 100%;
      margin-right: 0;
      display: flex;
      justify-content: center; } }
  @media screen and (max-width: 630px) {
    .content__left {
      align-items: center;
      justify-content: space-between; } }
  @media screen and (max-width: 630px) {
    .content__left {
      flex-direction: column;
      margin-top: 1rem; } }

.content__right {
  width: 100%; }
  @media screen and (max-width: 900px) {
    .content__right {
      margin-top: 1.5rem; } }

.map {
  height: 25rem;
  border-radius: 3rem;
  border: 1rem solid #ffffff; }
  @media screen and (max-width: 900px) {
    .map {
      margin-top: 2rem; } }
  @media screen and (max-width: 630px) {
    .map {
      margin-top: 0;
      height: 18rem;
      margin-left: 1rem; } }

.accommodation {
  height: 27rem;
  max-width: 20rem;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 3rem;
  overflow: hidden; }

.accommodation__image {
  height: 60%; }

.accommodation__title {
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.4rem; }

.accommodation__labels {
  display: flex;
  justify-content: space-evenly; }

.label {
  border-radius: 2rem;
  padding: .5rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem; }

.label--premium {
  background-color: #FCE889; }

.label--plus {
  background-color: #C9EEF9; }

.label--rating {
  background-color: #FFEBED;
  color: #EC4251; }

.label--rating-small {
  color: #EC4251; }

.hotel-list {
  padding: 2rem; }
  @media screen and (max-width: 630px) {
    .hotel-list {
      padding: 1rem; } }

.hotel-list__row {
  display: flex;
  height: 6rem;
  margin-top: 2rem; }

.hotel-list__image {
  height: 100%;
  width: 5rem;
  border-radius: 1rem; }

.hotel-list__details {
  padding: 1rem; }

.hotel-list__title {
  font-size: 1.2rem;
  font-weight: bold; }

.hotel-list__place {
  font-size: 1.2rem;
  color: #C9CDD0; }
