.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    @media screen and (max-width: $breakpoint-small) {
        padding: 2rem;
    }
    @media screen and (max-width: $breakpoint-smallest) {
        padding: 1rem;
    }
}
    .search-bar__icon-frame {
        padding: .7rem;
        border: 2px solid $background-color-secundary;
        border-radius: 50%;
        margin-right: .5rem;
    }
    .search-bar__place {
        font-size: 3rem;
        font-weight: bold;
        margin-left: 1rem;
        @media screen and (max-width: $breakpoint-medium) {
            font-size: 2.4rem;
        }
        @media screen and (max-width: $breakpoint-small) {
            font-size: 1.6rem;
        }
    }
        .search-bar__place--area {
            color: $font-color-tertiary;
        }
