.button {
    border: 0;
    border-radius: 3rem;
    padding: 1rem 2rem;
    transition: all .3s;
    &:hover {
        transform: translateY(.2rem);
    }
    @media screen and (max-width: $breakpoint-small) {
        padding: .5rem 1rem;
        font-size: 1.2rem;
    }
}
    .button--large {
        color: $font-color-secundary;
        background-color: $background-color-secundary;
    }