.label {
    border-radius: 2rem;
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
}
    .label--premium {
        background-color: $label-premium-bg-color;
    }
    .label--plus {
        background-color: $label-plus-bg-color;
    }
    .label--rating {
        background-color: $label-rating-bg-color;
        color: $label-rating-color;
    }
    .label--rating-small {
        color: $label-rating-color;
    }