.login {
    margin-left: auto;
    @media screen and (max-width: $breakpoint-medium) {
        position: absolute;
        top: .5rem;
        right: .5rem;
    }
}
    .login__register {
        margin: 0 2rem;
        @media screen and (max-width: $breakpoint-small) {
            margin: 0 1rem;
        }
    }