.content {
    display: flex;
    width: 90%;
    background-color: $background-color-tertiary;
    border-radius: 3rem 3rem 0 0;
    margin-top: 3rem;
    padding: 3rem;
    @media screen and (max-width: $breakpoint-large) {
        border-radius: 3rem;
        padding: 1.5rem;
    }
    @media screen and (max-width: $breakpoint-medium) {
        flex-direction: column;
        padding: .5rem;
        margin-top: 2rem;
    }
    @media screen and (max-width: $breakpoint-small) {
        width: 100%;
        border-radius: 0;
        margin-top: 1rem;
    }
}
    .content__left {
        width: 30rem;
        margin-right: 3rem;
        @media screen and (max-width: $breakpoint-medium) {
            width: 100%;
            margin-right: 0;
            display: flex;
            justify-content: center;
        }
        @media screen and (max-width: $breakpoint-small) {
            align-items: center;
            justify-content: space-between;
        }
        @media screen and (max-width: $breakpoint-small) {
            flex-direction: column;
            margin-top: 1rem;
        }
    }
    .content__right {
        width: 100%;
        @media screen and (max-width: $breakpoint-medium) {
            margin-top: 1.5rem;
        }
    }