.hotel-list {
    padding: 2rem;
    @media screen and (max-width: $breakpoint-small) {
        padding: 1rem;
    }
}
    .hotel-list__row {
        display: flex;
        height: 6rem;
        margin-top: 2rem;
    }
    .hotel-list__image {
        height: 100%;
        width: 5rem;
        border-radius: 1rem;
    }
    .hotel-list__details {
        padding: 1rem;
    }
    .hotel-list__title {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .hotel-list__place {
        font-size: 1.2rem;
        color: $font-color-tertiary;
    }