.accommodation {
    height: 27rem;
    max-width: 20rem;
    margin: 0 auto;
    background-color: $background-color-primary;
    border-radius: 3rem;
    overflow: hidden;
}
    .accommodation__image {
        height: 60%;
    }
    .accommodation__title {
        padding: 1rem 2rem;
        font-weight: bold;
        font-size: 1.4rem;
    }
    .accommodation__labels {
        display: flex;
        justify-content: space-evenly;
    }