.nav {
    margin-left: 3rem;
    @media screen and (max-width: $breakpoint-medium) {
        margin-left: 0;
        margin-top: 2rem;
    }
}
    .nav__list {
        display: inline;
        list-style: none;
    }
    .nav__item {
        margin-left: 2rem;
        display: inline;
        @media screen and (max-width: $breakpoint-medium) {
            margin-left: 1rem;
        }
    }