.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $background-color-primary;
    border-radius: 3rem 3rem 0 0;
    padding: 3rem;
    z-index: 10;
    @media screen and (max-width: $breakpoint-medium) {
        flex-direction: column;
        border-radius: 0;
    }
}