.icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .2rem;
    fill: $background-color-secundary;
    transform: translateY(.2rem);
}
    .icon--select {
        transform: translateX(3.3rem) translateY(-.1rem);
        @media screen and (max-width: $breakpoint-medium) {
            display: none;
        }
    }
    .icon--rating {
        fill: $label-rating-color;
        height: 1.2rem;
        width: 1.2rem;
        transform: translateY(.1rem);
    }