.map {
    height: 25rem;
    border-radius: 3rem;
    border: 1rem solid $background-color-primary;
    @media screen and (max-width: $breakpoint-medium) {
        margin-top: 2rem;
    }
    @media screen and (max-width: $breakpoint-small) {
        margin-top: 0;
        height: 18rem;
        margin-left: 1rem;
    }
}