$font-color-primary: #000000;
$font-color-secundary: #ffffff;
$font-color-tertiary: #C9CDD0;
$background-color-primary: #ffffff;
$background-color-secundary: #FF6748;
$background-color-tertiary: #F7F7FB;

//labels
$label-rating-color: #EC4251;
$label-rating-bg-color: #FFEBED;
$label-plus-bg-color: #C9EEF9;
$label-premium-bg-color: #FCE889;