select {
    display: block;
    font-size: 1.2rem;
    font-family: inherit;
    color: $font-color-primary;
    min-width: 10rem;
    border: 1px solid $background-color-secundary;
    border-radius: 2rem;
    background-color: $background-color-primary;
    padding: 1rem 2rem;
    margin: 0 1rem;
    text-align-last: center;
    outline: none;
    @media screen and (max-width: $breakpoint-medium) {
        font-size: 1rem;
        padding: .5rem 1rem;
        margin: 0 .5rem;
    }
    @media screen and (max-width: $breakpoint-small) {
        display: none;
    }
}