body {
  font-family: $font;
  font-size: $font-size;
  color: $font-color-primary;
  background-color: $background-color-secundary;
  @media screen and (max-width: $breakpoint-large) {
    background-color: $background-color-primary;
  }
}
