a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    &:hover {
        text-decoration: underline;
    }
    @media screen and (max-width: $breakpoint-medium) {
        font-size: 1.4rem;
    }
    @media screen and (max-width: $breakpoint-small) {
        font-size: 1rem;
    }
}